<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Loggers>
        <Logger name = "org.hibernate.SQL" level = "DEBUG"/>
<!--        <Logger name = "org.hibernate.type" level = "trace"/>-->
        <Logger name = "org.hibernate.type.descriptor.sql.BasicBinder" level = "TRACE"/>
<!--        <Logger name = "org.hibernate.orm.jdbc.bind" level = "trace"/>-->
<!--        <Logger name = "org.hibernate.orm.jdbc.extract" level = "trace"/>-->
    </Loggers>
</Configuration>